<%- include('./layout.ejs', {title: title }) %>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"><%- include('./sidebar.ejs') %></div>
  
      <div class="col-sm-10">
        <h1><%= title %></h1>
        <% if (bookinstance_list.length) { %>
            <ul>
              <% bookinstance_list.forEach(function(val) { %>
                <li>
                  <a href="<%= val.url %>"><%= val.book.title %>: <%= val.imprint %> -&nbsp;</a>
                  <% if (val.status === 'Available') { %>
                    <span class="text-success"><%= val.status %></span>
                  <% } else if (val.status === 'Maintenance') { %>
                    <span class="text-danger"><%= val.status %></span>
                  <% } else { %>
                    <span class="text-warning"><%= val.status %></span>
                  <% } %>
                  <% if (val.status !== 'Available') { %>
                    <span>(Due: <%= val.due_back_formatted %>)</span>
                  <% } %>
                </li>
              <% }); %>
            </ul>
          <% } else { %>
            <p>There are no book copies in this library.</p>
          <% } %>
          
    </div>
    </div>
  </div>
  
  
  


